/* FONTS */

@font-face{
	font-family:'tnr';
	src:url(../fonts/times.ttf)
}

@font-face{
	font-family:'georgia';
	src:url(../fonts/georgia.ttf)
}

@font-face{
	font-family:'rlw';
	src:url(../fonts/raleway.ttf)
}

@font-face{
	font-family:'rlwsb';
	src:url(../fonts/raleway_semibold.ttf)
}

@font-face{
	font-family:'rlwl';
	src:url(../fonts/raleway_light.ttf)
}

@font-face{
	font-family:'rlwm';
	src:url(../fonts/raleway_medium.ttf)
}

@font-face{
	font-family:'rlwb';
	src:url(../fonts/raleway_bold.ttf)
}

/* GENERAL */


h1{
	font-family: "rlwsb";
	font-size: 72px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 9px;	
	margin-top: 100px;
}

h3{
	font-family: "rlw";
	font-size: 22px;
	color: #1a1a1a;
	margin-bottom: 10px;
}


/* HEADER */

header {
	background-color: #808080;
}

header #bread_crumb {
	margin-bottom: 138px
}

#logo {
	display: inline;
	font-family: "tnr";
	font-size: 48px;
	color: white;
	text-transform: uppercase;
	margin-bottom: 0;
}


/* MENU */

#menu_top {
	height: 100px;
}

.bg-faded {
	background-color: transparent;
}


.navbar-nav li {
    display: inline;
    font-weight: 500;	
}

.navbar-nav li a {
    color: #808080;
	font-family: "georgia";
	font-size: 16px;
}

nav i {
	color:white;
}

.navbar-light .navbar-nav .nav-link{
	color:white;
	padding:8px;
	display: inline-block;
}


.navbar-light .navbar-toggler{
	border: none;
}

.navbar-nav li{
	text-align: right;
	
}

.navbar-nav i{
	color:white;
}
.navbar-toggler-right {
	position:relative;
}

dropdown-menu a{
    
   
    z-index: 1000;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: white;
    text-align: right;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
}


/* BREADCRUMB*/

#bread_crumb {
	font-family: "rlw";
	font-size: 16px;
	color:white;
}

img.responsive {
	width: auto;
	
}

.breadcrumb-item.active{
	color: black;
}


.breadcrumb{
	background-color: transparent;
}
hr {
	margin-bottom: 30px;
}

/* CARDS*/

.card {
	padding: 0;
	border: 15px solid transparent;
	background-clip:padding-box;
}

.border{
	border:1px solid black;
}
.card_inner {
	padding:40px;
}

.date{
	font-family: "rlwl";
	font-size: 14px;
	color: #8c8c8c;
	margin-bottom: 15px;
}

.desc{
	font-family: "rlwl";
	font-size: 13px;
	color: #8c8c8c;
	margin-bottom: 5px;
	line-height: 25px;
}

.no_pad {
	padding: 0;
}

/* PAGINATION */
.page-link {
	color: #8c8c8c;
	font-family: "rlwl";
}

a {
	color: #8c8c8c;
	font-family: "rlwl";
}

.pad {
	padding-right: 15px;
}

.page-item.active .page-link{
	color:black;
	font-weight: bold;
	background-color: transparent;
	border: 1px solid #dee2e6;
}

/* FOOTER */

footer .container .row {
	height: 100px;
}

footer p{
	font-family: "rlw";
	font-size: 12px;
	color: #8c8c8c;
	margin:0;
	}






