/* FONTS */

@font-face{
	font-family:'tnr';
	src:url(../fonts/times.ttf)
}

@font-face{
	font-family:'georgia';
	src:url(../fonts/georgia.ttf)
}

@font-face{
	font-family:'rlw';
	src:url(../fonts/raleway.ttf)
}

@font-face{
	font-family:'rlwsb';
	src:url(../fonts/raleway_semibold.ttf)
}

@font-face{
	font-family:'rlwl';
	src:url(../fonts/raleway_light.ttf)
}

@font-face{
	font-family:'rlwm';
	src:url(../fonts/raleway_medium.ttf)
}

@font-face{
	font-family:'rlwb';
	src:url(../fonts/raleway_bold.ttf)
}

/* GENERAL */


h1{
	font-family: "rlwsb";
	font-size: 72px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 9px;	
	margin-top: 100px;
}

h2{
	font-family: "rlwsb";
	font-size: 36px;
	color: #3d3d3d;
	text-transform: uppercase;
	margin-bottom: 5px;
}

h3{
	font-family: "rlwsb";
	font-size: 28px;
	color: #3d3d3d;
	text-transform: uppercase;
}

/* HEADER */

header {
	background-color: #808080;
}

#logo {
	display: inline;
	font-family: "tnr";
	font-size: 48px;
	color: white;
	text-transform: uppercase;
	margin-bottom: 0;
}

#bread_crumb {
	font-family: "rlw";
	font-size: 16px;
	color:white;
	margin-bottom: 138px;
}

/* MENU */

#menu_top {
	height: 100px;
}

.bg-faded {
	background-color: transparent;
}


.navbar-nav li {
    display: inline;
    font-weight: 500;	
}

.navbar-nav li a {
    color: #808080;
	font-family: "georgia";
	font-size: 16px;
}

nav i {
	color:white;
}

.navbar-light .navbar-nav .nav-link{
	color:white;
	padding:8px;
	display: inline-block;
}


.navbar-light .navbar-toggler{
	border: none;
}

.navbar-nav li{
	text-align: right;
	
}

.navbar-nav i{
	color:white;
}
.navbar-toggler-right {
	position:relative;
}

dropdown-menu a{
    
   
    z-index: 1000;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: white;
    text-align: right;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
}




/* INDIVIUAL TREATMENT */

#individual_t {
	background-color: white;
}

.red_title {
	color: #cc1f1f;
	font-family: "georgia";
	font-size: 16px;
	margin-top: 80px;
	margin-bottom: 10px;
}

.paragraph{
	font-family: "rlwl";
	color: #8c8c8c;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 80px;	
}

/* TEAM */

#team {
	background-color: #fafafa;
}

.grey_title {
	font-family: "georgia";
	font-size: 16px;
	color: #999999;
	margin-top: 80px;	
	margin-bottom: 5px;
}

.team_paragraph {
	font-family: "rlwl";
	color: #b2b2b2;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 80px;
}

.circle {
	background-color: #e6e6e6; 
	border-radius: 50%;
	width: 245px;
	height: 245px; 
	margin-top :65px;
}

.job {
	font-family: "rlw";
	font-size: 14px;
	color: #999999;
	margin-top: 40px;
	margin-bottom: 5px;
}

.name{
	font-family: "rlwm";
	font-size: 20px;
	color: #3d3d3d;
	margin-bottom: 15px;
}

.description{
	font-family: "rlw";	
	font-size: 14px;
	color: #b2b2b2;
	margin-bottom: 80px;
}

/* CLASSICO SERVICES */

.active .fa-headphones:before {
	color: white;
}

#classico_services .active i{
	background-color: #cd0000; 
}

#classico_services i {
	border-radius: 50%;
	background-color: #f2f2f2;
	padding: 20px;
	margin-top: 50px;
}

.classico_paragraph {
	font-family: "rlwl";
	color: #8c8c8c;
	font-size: 17px;
	margin-top: 10px;
}

.branding{
	font-family: "rlwm";	
	font-size: 18px;
	color: #3d3d3d;
	margin-bottom: 5px;
	margin-top: 50px;
}

.branding_paragraph{
	font-family: "rlw";	
	font-size: 13px;
	color: #999999;	
}

.branding_paragraph1{
	font-family: "rlw";	
	font-size: 13px;
	color: #999999;	
	margin-bottom: 80px;
}

#classico_services #last_paragraph{
	margin-bottom: 150px;
}

/* BLANCO */

#blanco {
	background-color: #fafafa;	
}

.blanco_paragraph {
	font-family: "rlwl";
	color: #b2b2b2;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 80px;
}

button {
	background-color: #d63232;
	font-family: "rlwb";
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 15px 25px 15px 25px;
	border:none;
	color:white;
	
}

#blanco button{
	margin-bottom: 50px;
}

/* FOOTER */

footer .container .row {
	height: 100px;
}

footer p{
	font-family: "rlw";
	font-size: 12px;
	color: #8c8c8c;
	margin:0;
	}






