/* FONTS */

@font-face{
	font-family:'tnr';
	src:url(../fonts/times.ttf)
}

@font-face{
	font-family:'georgia';
	src:url(../fonts/georgia.ttf)
}

@font-face{
	font-family:'rlw';
	src:url(../fonts/raleway.ttf)
}

@font-face{
	font-family:'rlwsb';
	src:url(../fonts/raleway_semibold.ttf)
}

@font-face{
	font-family:'rlwl';
	src:url(../fonts/raleway_light.ttf)
}

@font-face{
	font-family:'rlwm';
	src:url(../fonts/raleway_medium.ttf)
}

@font-face{
	font-family:'rlwb';
	src:url(../fonts/raleway_bold.ttf)
}

@font-face{
	font-family:'latob';
	src:url(../fonts/lato_bold.ttf)
}

/* GENERAL */


h1{
	font-family: "rlwsb";
	font-size: 72px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 9px;	
	margin-top: 100px;
}

h2{
	font-family: "rlw";
	font-size: 30px;
	color: #3d3d3d;
	margin-bottom: 40px;
}

button:focus {
	outline: none;
}


/* HEADER */

header {
	background-color: #808080;
}

header #bread_crumb {
	margin-bottom: 138px
}

#logo {
	display: inline;
	font-family: "tnr";
	font-size: 48px;
	color: white;
	text-transform: uppercase;
	margin-bottom: 0;
}


/* MENU */

#menu_top {
	height: 100px;
}

.bg-faded {
	background-color: transparent;
}


.navbar-nav li {
    display: inline;
    font-weight: 500;	
}

.navbar-nav li a {
    color: #808080;
	font-family: "georgia";
	font-size: 16px;
}

nav i {
	color:white;
}

.navbar-light .navbar-nav .nav-link{
	color:white;
	padding:8px;
	display: inline-block;
}


.navbar-light .navbar-toggler{
	border: none;
}

.navbar-nav li{
	text-align: right;
	
}

.navbar-nav i{
	color:white;
}
.navbar-toggler-right {
	position:relative;
}

dropdown-menu a{
    
   
    z-index: 1000;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: white;
    text-align: right;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
}


/* BREADCRUMB*/

#bread_crumb {
	font-family: "rlw";
	font-size: 16px;
	color:white;
}

/* DESCRIPTION PRODUCT */
.img {
	margin-top: 50px;
}

.des {
	margin-top: 50px;
	padding: 50px;
	border: 10px solid #f5f5f5;
}

hr {
	margin-top: 80px;
	margin-bottom: 50px;
}
.subtitle {
	font-family: "rlwl";
	font-size: 14px;
	color: #949494;
	margin-bottom: 40px;
}

.descri {
	font-family: "rlwl";
	font-size: 14px;
	color: #808080;
	margin-bottom: 40px;
}

.price {
	font-family: "latob";
	font-size: 36px;
	color: #262626;
	margin-bottom: 40px;
}

.tags{
	font-family: "rlwl";
	font-size: 13px;
	color: #808080;
}
.tags span {
	font-family: "rlwsb";
	font-size: 13px;
	color: #262626;
}

/* FOOTER */

footer .container .row {
	height: 100px;
}

footer p{
	font-family: "rlw";
	font-size: 12px;
	color: #8c8c8c;
	margin:0;
	}






